body {
    margin: 0% auto;
  }
.inline-block {
    display: inline-block;
    vertical-align: top;  
    /* outline: 1px solid red; */
}
.logo {
  /* width: 23%;
  padding: 1%; */
  text-align: center;
  /* outline: 1px solid red; */
} 
.navigation {
    outline: 1px solid red;
    /* width: 70%; */
    /* padding: 1%; */
}
nav {
  /* width: 73%;
  padding: 1%; */
  text-align: right;
}
ul {
    /* width: 50%; */
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #373738;
    color: white;
    /* text-align: center;
    margin: auto; */

    /* list-style-type: none; */
}
ul li.inline-block {
    display: inline-block;
    margin-left: 50px;
}
h2 li {
    margin: 0;
}

.container {
    display: flex;
    align-items: baseline;
    max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
    /* justify-content: space-around; */
}

.main-content {
 /* padding-left: 100px;
} */

.sub-content {
    /* padding-left: 700px; */
    outline: 1px solid red;
}
